<%- include("partials/header.ejs") %>
<body>
    
    <form action="/newTitle" method="post" id="titleForm">
        <div class = controlsContainer>

        <label for="newTitle">Add new title</label>
        <input type="text" name="title" id="newTitle">
        <label for="newDescription">Add new description</label>
        <textarea name="description" id="newDescription"></textarea>
        <input type="submit" value="save" class="save">

        </div>
    </form>


</body>
</html>